.weather-result-div {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 90vw;
  margin-bottom: 2em;
}

.weather-main {
  box-sizing: border-box;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 35vw;
  height: 90%;
}

.main-and-temp {
  display: flex;
  flex-direction: column;
  width: 10vw;
  justify-content: center;
  align-items: center;
}

.weather-desc {
  font-size: 1.5rem;
}

.weather-city {
  font-size: 2rem;
  font-weight: 500;
}

.weather-icon {
  margin: 0 .1em;
  height: 160px;
  font-size: 180px;
  display: flex;
  align-items: center;
}

.weather-temperature {
  font-size: 3.5rem;
  margin: 0 auto;
  padding-top: .2em;
}

.weather-stats {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.weather-stats-elements {
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 .7em;
  padding: 0 .3em;
  width: 12vw;
  min-width: 150px;
  min-height: 25vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
}

.stat-element-line {
  background-color: #ffffff;
  border: 0 none;
  color: #ffffff;
  height: 1px;
  max-width: 7vw;
  width: 100%;
}

.stat-element {
  font-size: 2rem;
  font-weight: 300;
}

.stat-name-up {
  margin-bottom: .6em;
}

.stat-name-down {
  margin-top: .6em;
}

@media screen and (max-width: 1000px) {
  .weather-icon {
    margin: 0 .2em;
    font-size: 150px;
  }
}

@media screen and (max-width: 900px) {
  .weather-result-div {
    flex-direction: column;
  }

  .weather-main {
    width: 100%;
    justify-content: flex-start;
    align-items: center;
  }

  .weather-icon {
    margin: 0 .3em 0 .2em;
  }

  .main-and-temp {
    width: 30vw;
  }

  .weather-stats {
    width: 100%;
    margin-top: 2.5em;
  }

  .weather-stats-elements {
    min-width: 90px;
    width: 34vw;
    margin: 0 .4em;
    padding: 0 .2em;
    min-height: 200px;
  }

  .mile-per-hour {
    font-size: 20px;
  }

  .stat-name-up {
    margin-top: .6em;
  }

  .stat-name-down {
    margin-bottom: .6em;
  }
}

@media screen and (max-width: 500px) {
  .weather-result-div {
    width: 96vw;
  }

  .stat-element {
    font-size: 24px;
  }

  .weather-icon {
    font-size: 120px;
  }
}