.search-div {
  width: 100%;
}

.search-form {
  position: relative;
  max-width: 500px;
  transition: 0.8s 0.5s;
  margin: 1em auto;
}

.search-bar {
  width: 445px;
  border: none;
  background-color: #ffffff;
  font-size: 16px;
  padding: 10px 15px 10px 40px;
  color: #c5c5c5;
  transition: 0.2s;
  border-radius: 20px;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  margin: 1em auto;
}

.search-bar:focus {
  color: #191919;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  outline: none;
}

.search-icon {
  display: block;
  position: absolute;
  top: 50%;
  left: 22px;
  transform: translate(-50%, -50%);
  height: 14px;
  width: 14px;
  font-size: 14px;
  color: #c5c5c5;
}

@media screen and (max-width: 600px) {
  .search-bar {
    max-width: 80%;
  }

  .search-icon {
    position: absolute;
    left: 40px;
  }
}

@media screen and (max-width: 420px) {
  .search-icon {
    left: 30px;
  }
}

@media screen and (max-width: 350px) {
  .search-icon {
    left: 26px;
  }
}